#header
  img#visual(src="https://goo.gl/3RMPze", alt="none")
.container.first
  .max
    h3.hint.hintMain 風格指南 (style guide) 
    
    h3.hint 字體 (Font) 
    hr#showLine
    h1.zh-tw 縮小檢視 
      .follow 40 px
    h1.eng Setup Stuido 
      .follow  (h1)
    hr#showLine
    h2.zh-tw 縮小檢視 
      .follow  32 px
    h2.eng Setup Stuido 
      .follow  (h2)
    h3.zh-tw 縮小檢視 
      .follow  20 px
    h3.eng Setup Stuido 
      .follow  (h3)
    
    h3.hint 色彩 (color)
    .colorGroup
      .palette 主色 #008080
      .circle.c_teal
    .colorGroup
      .palette 輔色 #007fff 
      .circle.c_azure
    .colorGroup
      .palette 強調色 #E4D96F
      .circle.c_straw  
    .colorGroup
      .palette  近正色 #f3f3f3
      .circle.c_bleach 
    .colorGroup
      .palette 反稿色 #333333
      .circle.c_black
      
    h3.hint 按鈕配色 (color schemes)
    
    .button.b_teal 一般 (normal)
    .button.b_azure 滑過 (hover) 
    .button.b_straw 按下 (onClick)
    .button.b_ban 不可使用 (x)
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
.container.second
  .max
    h4.hint.hintMain 晴空
    
    h3.hint 字體 (Font) 
    hr#showLine
    h1.zh-tw 縮小檢視 
      .follow 40 px
    h1.eng Setup Stuido 
      .follow  (h1)
    hr#showLine
    h2.zh-tw 縮小檢視 
      .follow  32 px
    h2.eng Setup Stuido 
      .follow  (h2)
    h3.zh-tw 縮小檢視 
      .follow  20 px
    h3.eng Setup Stuido 
      .follow  (h3)
    
    h3.hint 色彩 (color)
    .colorGroup
      .palette 主色 #008080
      .circle.c_teal
    .colorGroup
      .palette 輔色 #007fff 
      .circle.c_azure
    .colorGroup
      .palette 強調色 #E4D96F
      .circle.c_straw  
    .colorGroup
      .palette  近正色 #f3f3f3
      .circle.c_bleach 
    .colorGroup
      .palette 反稿色 #333333
      .circle.c_black
      
    h3.hint 按鈕配色 (color schemes)
    
    .button.b_teal 一般 (normal)
    .button.b_azure 滑過 (hover) 
    .button.b_straw 按下 (onClick)
    .button.b_ban 不可使用 (x) 
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
.container.third
  .max
    h4.hint.hintMain 麥梗
    
    h3.hint 字體 (Font) 
    hr#showLine
    h1.zh-tw 縮小檢視 
      .follow 40 px
    h1.eng Setup Stuido 
      .follow  (h1)
    hr#showLine
    h2.zh-tw 縮小檢視 
      .follow  32 px
    h2.eng Setup Stuido 
      .follow  (h2)
    h3.zh-tw 縮小檢視 
      .follow  20 px
    h3.eng Setup Stuido 
      .follow  (h3)
    
    h3.hint 色彩 (color)
    .colorGroup
      .palette 主色 #008080
      .circle.c_teal
    .colorGroup
      .palette 輔色 #007fff 
      .circle.c_azure
    .colorGroup
      .palette 強調色 #E4D96F
      .circle.c_straw  
    .colorGroup
      .palette  近正色 #f3f3f3
      .circle.c_bleach 
    .colorGroup
      .palette 反稿色 #333333
      .circle.c_black
      
    h3.hint 按鈕配色 (color schemes)
    
    .button.b_teal 一般 (normal)
    .button.b_azure 滑過 (hover) 
    .button.b_straw 按下 (onClick)
    .button.b_ban 不可使用 (x)
    br
    br
    br
    br
#footbar
    h4 originated from 墨雨設計 |  designed by 縮小檢視
    
    